* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* shared styles */
.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 20px 43px;
}

/* header css style */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}

.header-info {
    padding-left: 200px;


}

.header-title {
    color: #272727;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 65px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.header-banner {
    width: 635;
    height: 800px;
}


/* featured section styles */
.featured {
    margin-top: 200px;
    margin-right: 240px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.featured-image-container {
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.featured-item {
    width: 300px;
    height: 400px;
}

.featured-flower1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-flower2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);


}

.featured-flower3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.flower {
    width: 200px;
    height: 300px;
    padding: 110px 76px 0px;
    text-align: center;
}